.expand_button {
  visibility: visible;
  position: absolute;
  top: 0;
  left: 0;
}

.summary_dialog {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.summary_div {
  display: block;
}

.summary_metrics {
  display: block;
}

#metrics_text {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.38;
  padding: 10px;
}

#summary_text{
  font-size: 14px;
  font-weight: normal;
  line-height: 1.38;
  padding: 10px;
}