.highlights_div{
  visibility: visible;
  background-color: green;
  position: absolute;
  border-radius: 5px;
}

.random {
	position: absolute;
	z-index: 2;
}

.triangle{
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #ff0000 ;
}

.summary_dialog {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}
